Node-RED/Huawei-Solar-Stable
[
    {
        "id": "c693713f40d9febf",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "PV Power",
        "topic": "PV Power",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "32080",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "aee1cb357e046ec7"
            ],
            []
        ]
    },
    {
        "id": "aee1cb357e046ec7",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "INT32 PV Power (W)",
        "func": "const hi = msg.payload[0];\nconst lo = msg.payload[1];\n\n// unsigned 32 bit zusammensetzen\nlet value = hi * 65536 + lo;\n\n// signed umwandeln\nif (value >= 2147483648) {\n    value -= 4294967296;\n}\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "9d0f665b0eff56d8"
            ]
        ]
    },
    {
        "id": "ffccf9bfda152a84",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/pv-power",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37ff3c46980d4dbb",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "65748a3eb211abb2",
        "type": "within-time-switch",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "nameInt": "",
        "positionConfig": "bb0396afe6b1112d",
        "startTime": "sunriseStart",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "sunsetEnd",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": 0,
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "true",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "0",
        "outOfTimeValueType": "num",
        "tsCompare": "0",
        "x": 300,
        "y": 740,
        "wires": [
            [
                "ffccf9bfda152a84"
            ],
            [
                "ffccf9bfda152a84"
            ]
        ]
    },
    {
        "id": "9d0f665b0eff56d8",
        "type": "switch",
        "z": "8a9bf01e05d017f7",
        "name": "PV Power > 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 560,
        "wires": [
            [
                "ca4283d95b618d18"
            ]
        ]
    },
    {
        "id": "ca4283d95b618d18",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "PV Smoothing",
        "func": "// msg.payload = PV-Leistung aus Modbus (oder 0 W nachts)\nlet P = msg.payload;\n\n// Plausibilität: PV darf nicht negativ sein, max. Dachleistung 6 kW\nconst P_max = 6000;\nif (P < 0) P = 0;\nif (P > P_max) P = P_max;\n\n// Gleitender Mittelwert (letzte 5 Werte)\nlet history = context.get('history') || [];\nhistory.push(P);              // aktuelles Sample hinzufügen\nif (history.length > 5) {     // nur 5 Samples behalten\n    history.shift();\n}\ncontext.set('history', history);\n\n// Mittelwert berechnen\nlet P_smooth = Math.round(history.reduce((a,b)=>a+b,0) / history.length);\n\nmsg.payload = P_smooth;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "65748a3eb211abb2"
            ]
        ]
    },
    {
        "id": "9110b13c79c76bcf",
        "type": "modbus-client",
        "name": "Huawei Sun",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.122",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "37ff3c46980d4dbb",
        "type": "mqtt-broker",
        "name": "hb-sauger",
        "broker": "192.168.0.181",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bb0396afe6b1112d",
        "type": "position-config",
        "name": "",
        "isValide": "true",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "3",
        "contextStore": "",
        "sunPositions": [],
        "predefAngles": []
    }
]
