Node-RED/huawei-sun-flows.json
[
    {
        "id": "8a9bf01e05d017f7",
        "type": "tab",
        "label": "Huawei Modbus TCP",
        "disabled": false,
        "info": "Polling = 60 Sekunden"
    },
    {
        "id": "c693713f40d9febf",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "PV Power",
        "topic": "PV Power",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "32080",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "aee1cb357e046ec7"
            ],
            []
        ]
    },
    {
        "id": "aee1cb357e046ec7",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "INT32 PV Power (W)",
        "func": "const hi = msg.payload[0];\nconst lo = msg.payload[1];\n\n// unsigned 32 bit zusammensetzen\nlet value = hi * 65536 + lo;\n\n// signed umwandeln\nif (value >= 2147483648) {\n    value -= 4294967296;\n}\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "ffccf9bfda152a84"
            ]
        ]
    },
    {
        "id": "05de7c5c4f4a2d81",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "Grid Power",
        "topic": "Grid Power",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "37113",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "a7361d61187ef4a5"
            ],
            []
        ]
    },
    {
        "id": "a7361d61187ef4a5",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "INT32 Grid Power (signed W)",
        "func": "const hi = msg.payload[0];\nconst lo = msg.payload[1];\n\nlet value = hi * 65536 + lo;\n\n// signed INT32\nif (value >= 2147483648) {\n    value -= 4294967296;\n}\n\n// Huawei sanity check\nif (value < -100000 || value > 100000) {\n    // unrealistisch → ignorieren\n    node.warn(\"Unplausible grid power: \" + value);\n    return null;\n}\n\nmsg.payload = value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "9b1c8e21a62b5071"
            ]
        ]
    },
    {
        "id": "ee06507c6e5eb934",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "Battery 1 SOC",
        "topic": "Battery 1 SOC",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "37004",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "06dd8ee091fe22d0"
            ],
            []
        ]
    },
    {
        "id": "06dd8ee091fe22d0",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "SOC %",
        "func": "const raw = msg.payload[0];\n\n// optional: wenn Huawei /10 nutzt\nmsg.payload = Math.round((raw / 10) * 100) / 100;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "728af9c4fe25fd82"
            ]
        ]
    },
    {
        "id": "ffccf9bfda152a84",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/pv-power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37ff3c46980d4dbb",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b1c8e21a62b5071",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/grid-power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37ff3c46980d4dbb",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "728af9c4fe25fd82",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/battery-1-soc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37ff3c46980d4dbb",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "efcad4575da90a23",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "Battery 1 Temp",
        "topic": "Battery 1 Temp",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "37022",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "dfee390ce6e6c3fe"
            ],
            []
        ]
    },
    {
        "id": "33cb6cb841cc9657",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/battery-1-temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c724c4775dbcf9f9",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfee390ce6e6c3fe",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "Temp °C",
        "func": "const raw = msg.payload[0];\n\n// optional: wenn Huawei /10 nutzt\nmsg.payload = Math.round((raw / 10) * 100) / 100;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "33cb6cb841cc9657"
            ]
        ]
    },
    {
        "id": "8c0d0c39c7ee70d7",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/inverter-temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37ff3c46980d4dbb",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "91d68994885c933b",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "Temp °C",
        "func": "const raw = msg.payload[0];\n\n// optional: wenn Huawei /10 nutzt\nmsg.payload = Math.round((raw / 10) * 100) / 100;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "8c0d0c39c7ee70d7"
            ]
        ]
    },
    {
        "id": "e1a7037cf94198c9",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "Inverter Temp",
        "topic": "Inverter Temp",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "32087",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "91d68994885c933b"
            ],
            []
        ]
    },
    {
        "id": "f55e9841aedcee2f",
        "type": "function",
        "z": "8a9bf01e05d017f7",
        "name": "INT32 PV Power (W)",
        "func": "// hi + lo aus Array\nconst hi = msg.payload[0];\nconst lo = msg.payload[1];\n\n// zusammenrechnen\nlet value = hi * 65536 + lo;\n\n// signed INT32\nif (value >= 2147483648) {\n    value -= 4294967296;\n}\n\nmsg.payload = value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "0ee271425b5c9953"
            ]
        ]
    },
    {
        "id": "82eb815656edab39",
        "type": "modbus-read",
        "z": "8a9bf01e05d017f7",
        "name": "Battery Power",
        "topic": "Battery Power",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "37001",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9110b13c79c76bcf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "f55e9841aedcee2f"
            ],
            []
        ]
    },
    {
        "id": "0ee271425b5c9953",
        "type": "mqtt out",
        "z": "8a9bf01e05d017f7",
        "name": "",
        "topic": "huawei/battery-1-power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37ff3c46980d4dbb",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "9110b13c79c76bcf",
        "type": "modbus-client",
        "name": "Huawei Sun",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.122",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "37ff3c46980d4dbb",
        "type": "huawei-mqtt",
        "name": "hb-mqtt",
        "broker": "192.168.0.181",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c724c4775dbcf9f9",
        "type": "mqtt-broker",
        "name": "huawei-mqtt",
        "broker": "192.168.0.181",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]