Node-RED/marstek-venus-c-flows.json
[
    {
        "id": "fa60d1e7d8451194",
        "type": "tab",
        "label": "Marstek ModbusTCP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "modbus_read_battery",
        "type": "modbus-read",
        "z": "fa60d1e7d8451194",
        "name": "Read Battery SOC",
        "topic": "battery",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": "32104",
        "quantity": "1",
        "rate": 60,
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5064c636e5863a15",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "4ba434e251aec9af",
                "db0ac89f30f98676"
            ],
            []
        ]
    },
    {
        "id": "mqtt_battery_soc",
        "type": "mqtt out",
        "z": "fa60d1e7d8451194",
        "name": "Battery SOC",
        "topic": "marstek-modbus/battery/soc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77f99d15ba37683c",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "4f6f5f5f4f940d76",
        "type": "modbus-read",
        "z": "fa60d1e7d8451194",
        "name": "Read Battery Capacity",
        "topic": "battery",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": "32105",
        "quantity": "1",
        "rate": 60,
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5064c636e5863a15",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "9e313727f41fdd9f"
            ],
            []
        ]
    },
    {
        "id": "c937acc2ba5df3f7",
        "type": "mqtt out",
        "z": "fa60d1e7d8451194",
        "name": "Battery Capacity",
        "topic": "marstek-modbus/battery/capacity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77f99d15ba37683c",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "7378b148a5b20a97",
        "type": "mqtt out",
        "z": "fa60d1e7d8451194",
        "name": "System Temp",
        "topic": "marstek-modbus/system/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77f99d15ba37683c",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "6564103f7d08b3ad",
        "type": "modbus-read",
        "z": "fa60d1e7d8451194",
        "name": "Read System Temp",
        "topic": "battery",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": "35000",
        "quantity": "1",
        "rate": 60,
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5064c636e5863a15",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "d7590676540fa1d8"
            ],
            []
        ]
    },
    {
        "id": "d7590676540fa1d8",
        "type": "function",
        "z": "fa60d1e7d8451194",
        "name": "Divide by 10",
        "func": "msg.payload = Math.round((msg.payload[0] / 10) * 100) / 100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "7378b148a5b20a97"
            ]
        ]
    },
    {
        "id": "2c24d6519ab21686",
        "type": "mqtt out",
        "z": "fa60d1e7d8451194",
        "name": "Grid Power",
        "topic": "marstek-modbus/grid_power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77f99d15ba37683c",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "895be18450dc85b4",
        "type": "modbus-read",
        "z": "fa60d1e7d8451194",
        "name": "Read Grid Power",
        "topic": "battery",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": "37004",
        "quantity": "1",
        "rate": 60,
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5064c636e5863a15",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "163567ab5ca3d7aa"
            ],
            []
        ]
    },
    {
        "id": "4ba434e251aec9af",
        "type": "function",
        "z": "fa60d1e7d8451194",
        "name": "Calculating charged capacity",
        "func": "msg.payload=msg.payload[0];\nmsg.payload = Math.round(5120 * (Number(msg.payload) / 100) * 100) / 100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "30b7841b1a01f810"
            ]
        ]
    },
    {
        "id": "30b7841b1a01f810",
        "type": "mqtt out",
        "z": "fa60d1e7d8451194",
        "name": "Battery Capacity Charged",
        "topic": "marstek-modbus/battery/capacity_charged",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77f99d15ba37683c",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "163567ab5ca3d7aa",
        "type": "function",
        "z": "fa60d1e7d8451194",
        "name": "Do magic ;-)",
        "func": "msg.payload = msg.payload[0];\nmsg.payload = msg.payload > 32767 ? msg.payload - 65536 : msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            [
                "2c24d6519ab21686"
            ]
        ]
    },
    {
        "id": "db0ac89f30f98676",
        "type": "function",
        "z": "fa60d1e7d8451194",
        "name": "Array2Value",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "mqtt_battery_soc"
            ]
        ]
    },
    {
        "id": "9e313727f41fdd9f",
        "type": "function",
        "z": "fa60d1e7d8451194",
        "name": "Array2Value",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "c937acc2ba5df3f7"
            ]
        ]
    },
    {
        "id": "5064c636e5863a15",
        "type": "modbus-client",
        "name": "Marstek Venus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.174",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "77f99d15ba37683c",
        "type": "mqtt-broker",
        "name": "marstek-mqtt",
        "broker": "192.168.0.181",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]